---
import { Image } from "astro:assets";
// import imgimages_gii_logo_webp from "../../public/images/gii_logo_square.svg";
---

<section id="mention-legale" class="bg-[#243946] py-10 md:py-20 px-4">
  <div class="container mx-auto flex flex-col text-white divide-y xl:px-24">
    <h1 class="font-bold text-4xl md:text-[70px] leading-[1.5] pb-8 md:pb-16">
      Mention légale & Déclaration Environnementale
    </h1>
    <div class="pt-8 md:pt-16 flex flex-col gap-10 md:gap-20">
      <div class="md:pl-4 flex flex-col gap-4 md:gap-8">
        <h2 class="font-semibold text-2xl leading-[1.5]">Bubble-green.com</h2>
        <div class="flex flex-col gap-2">
          <p>Bubble-Green est une marque de Bubble-Go SARL</p>
          <p>
            Chem. du Champ-des-Filles 36a, 1228 Plan-Les-Ouates (Genève - CH)
          </p>
          <p>contact@bubble-green.com</p>
          <p>
            Le site est hébergé la façon la plus écologique par
            <a href="https://digitalforest.fr/">https://digitalforest.fr/</a>
          </p>
          <p>ce site n'utilise pas de cookie</p>
        </div>
      </div>
      <div class="md:pl-4 flex flex-col gap-4 md:gap-8">
        <h2 class="font-semibold text-2xl leading-[1.5]">
          Déclaration Environnementale
        </h2>
        <div class="flex flex-col">
          <h3 class="text-base font-semibold">Intro:</h3>
          <p>
            Ce site a été créé à travers une approche en éco-conception (sur
            l'ensemble de son cycle de vie - conception, mise en ligne,
            utilisation, fin de vie), avec la solution ecobuilder.io - dans le
            but de promouvoir le numérique responsable sur la suisse et
            l'europe, en proposant des services et solutions pour aider les
            entreprises et collectivités à améliorer leurs impacts sociétaux et
            environnementaux.
          </p>
        </div>
        <div class="flex flex-col gap-4 md:gap-8">
          <h3 class="text-base font-semibold">
            Performances environnementales:
          </h3>
          <div class="flex flex-col gap-2">
            <p>EcoIndex - Indice A sur l'ensemble des pages.</p>
            <p>
              Pagespeed - 100/100 sur l'ensemble des composants (performances,
              accessibilité, SEO, Bonne pratique)
            </p>
            <p>RGESN - 82%</p>
            <p>RGAA - 83%</p>
          </div>
        </div>
        <div class="flex flex-col">
          <h3 class="text-base font-semibold">Empreinte environnementale</h3>
          <p>
            Mesure d'impact en Analyse de cycle de vie sur 1 an avec l'outil
            Greenitimpact.io (Base de données Ademe) et comparaison avec un site
            web équivalent non éco-conçu sous Wordpress. Nous avons en moyenne
            divisé par 9 l'impact environnemental.
          </p>
          <ul class="list-disc pl-4 md:pl-6">
            <li>
              GWP - Changement climatique - 16,815 kg CO2 eq (143,709 kg CO2 eq)
            </li>
            <li>
              CTUe - Ecotoxicité des eaux douces - 203,97 CTUe (1081,53 CTUe)
            </li>
            <li>PM - Émissions de particules fines - 0 Disease (0)</li>
            <li>
              Epf - Eutrophisation des eaux douces - 1,46 g P eq. ( 9,96 g P
              eq.)
            </li>
            <li>
              Epm - Eutrophisation des eaux marines - 13,87 g N eq. (111,44 g N
              Eq)
            </li>
            <li>
              Ept - Eutrophisation terrestre - 0,13 mol N eq. (1,10 mol N eq)
            </li>
            <li>
              CTUh-c - Toxicité humaine - Effets cancérigènes - 0 CTUh (0)
            </li>
            <li>
              CTUh-nc - Toxicité humaine - Effets non-cancérigènes - 0 CTUh (0)
            </li>
            <li>
              IR - Émissions de substances radionisantes - 22277, 29 g U235 eq.
              (192849,72 g U 235)
            </li>
            <li>LU - Utilisation des sols - 2,82 (86,411)</li>
            <li>
              ODP - Appauvrissement de la couche d'ozone - 0,0069 g CFC-11 eq.
              (0,0362 g CFC-11 eq.)
            </li>
            <li>
              POCP - Formation d'ozone photochimique - 37,52 g NMVOC eq (310,65
              g NMVOC eq)
            </li>
            <li>
              ADPf - Utilisation de ressources fossiles (y inclus nucléaire) -
              226,39 MJ (2119,70 MJ)
            </li>
            <li>
              ADPe - Utilisation des ressources minérales et métalliques - 0,284
              g SB eq. (1,956 g SB eq)
            </li>
            <li>
              WU - Utilisation de la ressource en eau - 97,13 m3 eq (772,859 m3
              eq)
            </li>
            <li>
              MIPS - Material input per unit of service - 34586,68 g (181240,27
              g)
            </li>
          </ul>
        </div>
        <div class="flex flex-col">
          <h3 class="text-base font-semibold">Contribution climatique:</h3>
          <p>
            Notre entreprise contribue à hauteur du décuple des émissions
            résiduelles à travers des projets de reforestation.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
