---
import { Image } from "astro:assets";
import DetailsComponent from "./DetailsComponent.astro";
// import imgimages_gii_logo_webp from "../../public/images/gii_logo_square.svg";
---

<div class="flex flex-col gap-8">
  <DetailsComponent number="1" title="Mesure d'impact & diagnostic">
    <ul class="text-left list-disc flex flex-col gap-4">
      <li>
        <p class="text-xl">
          Formation journée et demi-journée au numérique responsable et
          éco-conception de service numérique
        </p>
      </li>
      <li>
        <p class="text-xl">
          Animation de fresque du numérique et du climat
        </p>
      </li>
      <li>
        <p class="text-xl">
          Atelier “Bataille de l'IA”, “2 tonnes”, “Bonnes Pratiques”
        </p>
      </li>
      <li>
        <p class="text-xl">Intervention en conférences et tables rondes</p>
      </li>
    </ul>
  </DetailsComponent>
  <DetailsComponent number="2" title="Conseil en numérique responsable">
    <ul class="text-left list-disc flex flex-col gap-4">
      <li>
        <p class="text-xl">
          Élaboration de stratégie Numérique responsable
        </p>
      </li>
      <li>
        <p class="text-xl">
          Déploiement de feuille de route opérationnelle et mise en place de
          KPIs
        </p>
      </li>
      <li>
        <p class="text-xl">
          Accompagnement sur la mise en oeuvre et reporting
        </p>
      </li>
      <li>
        <p class="text-xl">
          Mise à disposition de ressources spécialisées (en interne ou
          externe)
        </p>
      </li>
    </ul>
  </DetailsComponent>
  <DetailsComponent
    number="3"
    title="Accompagnement Label Numérique Responsable"
  >
    <ul class="text-left list-disc flex flex-col gap-4">
      <li>
        <p class="text-xl">Préparation à l'audit</p>
      </li>
      <li>
        <p class="text-xl">Formalisation des éléments</p>
      </li>
      <li>
        <p class="text-xl">
          Suivi des étapes pour atteindre la labellisation
        </p>
      </li>
    </ul>
  </DetailsComponent>
  <DetailsComponent number="4" title="Formation & intervention">
    <ul class="text-left list-disc flex flex-col gap-4">
      <li>
        <p class="text-xl">
          Formation journée et demi-journée au numérique responsable et
          éco-conception de service numérique
        </p>
      </li>
      <li>
        <p class="text-xl">
          Animation de fresque du numérique et du climat
        </p>
      </li>
      <li>
        <p class="text-xl">
          Atelier “Bataille de l'IA”, “2 tonnes”, “Bonnes Pratiques”
        </p>
      </li>
      <li>
        <p class="text-xl">Intervention en conférences et tables rondes</p>
      </li>
    </ul>
  </DetailsComponent>
  <DetailsComponent
    number="5"
    title="Nos solutions éthiques et écologiques"
  >
    <ul class="text-left list-disc flex flex-col gap-4">
      <li>
        <p class="text-xl">
          <a href="https://ecobuilder.io/">EcoBuilder</a> : Première solution SAAS de création de sites et application web éco-conçu, accéssible à tous. 
        </p>
      </li>
      <li>
        <p class="text-xl">
          Green IT Impact : Solution SAAS pour aider les entreprises et colelctivités à améliorer leurs impacts sociétaux et environnementaux liés au numérique.
        </p>
      </li>
      <li>
        <p class="text-xl">
          Digital Forest : Solution PAAS d'hébergement web éthique, souverain et écologique. 
        </p>
      </li>
    </ul>
  </DetailsComponent>
  <DetailsComponent number="6" title="Eco-conception web">
    <ul class="text-left list-disc flex flex-col gap-4">
      <li>
        <p class="text-xl">
          Brief stratégique pour application des référentiels RGESN, GR491
          et RGAA
        </p>
      </li>
      <li>
        <p class="text-xl">
          Architecture technique frugale, résiliente et évolutive
        </p>
      </li>
      <li>
        <p class="text-xl">
          Green UX pour concevoir des parcours utilisateurs efficients
        </p>
      </li>
      <li>
        <p class="text-xl">
          UI et gestion des contenus responsable pour appliquer les bonnes
          pratiques de la communication responsable
        </p>
      </li>
      <li>
        <p class="text-xl">
          Green Coding pour maximiser les performances techniques
        </p>
      </li>
      <li>
        <p class="text-xl">
          Hébergement web écologique pour que les octets soient produits de
          la façon la plus vertueuse possible
        </p>
      </li>
      <li>
        <p class="text-xl">
          Maintenance et optimisation du cycle de vie pour faire évoluer le
          service avec l'évolution des besoins.
        </p>
      </li>
    </ul>
  </DetailsComponent>
</div>
