---
import { Image } from "astro:assets";
// import imgimages_gii_logo_webp from "../../public/images/gii_logo_square.svg";
---

<div class="flex flex-col items-center lg:justify-center xl:justify-between gap-8 lg:gap-4 lg:px-8 pt-16 lg:flex-row lg:flex-wrap xl:flex-nowrap">
  <Image src="/images/logo_akoa.webp" width={126} height={53} alt="Akoa Logo" />
  <Image
    src="/images/logo_digital_forest.webp"
    width={168}
    height={44}
    alt="Digital Forest Logo"
  />
  <Image
    src="/images/logo_formasup.webp"
    width={114.55}
    height={64}
    alt="Formasup Logo"
  />
  <Image
    src="/images/logo_green_it_impact.svg"
    width={217.63}
    height={53}
    alt="Green IT Impact Logo"
  />
  <Image
    src="/images/logo_castorama.svg"
    width={231}
    height={44}
    alt="Castorama Logo"
  />
  <Image
    src="/images/logo_vegora.webp"
    width={181}
    height={34}
    alt="Vegora Logo"
  />
  <Image
    src="/images/logo_kingfisher.webp"
    width={208.82}
    height={44}
    alt="Kingfisher Logo"
  />
</div>
