---
import { Image } from "astro:assets";
import EfficaciteTable from "./EfficaciteTable.astro";
// import imgimages_gii_logo_webp from "../../public/images/gii_logo_square.svg";
---

<section
  id="efficacite"
  class="bg-[#243946] pb-16 relative px-4 text-white"
>
  <div class="container mx-auto md:gap-10 text-center flex flex-col gap-9">
    <h2 class="font-bold text-4xl md:text-[50px] leading-[1.5]">
      L'efficacité vs un site standard  !
    </h2>
    <div class="p-6 border border-white rounded-2xl bg-[#465762]">
      <EfficaciteTable />
    </div>
  </div>
</section>
