<div class="xl:overflow-x-hidden rounded-2xl">
  <table class="w-full border-collapse border-none">
    <thead class="text-white">
      <tr>
        <th class="text-left font-semibold bg-white p-4 text-black rounded-tr-2xl">
          Aspect
        </th>
        <th class="text-center font-semibold bg-white p-4 text-black rounded-tl-2xl rounded-tr-2xl">
          Site Web Standard<br />(WordPress)
        </th>
        <th class="text-center font-semibold bg-white p-4 text-black rounded-tl-2xl">
          Site Web Éco-Conçu<br />(Bubble Green)
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- Row 1 -->
      <tr class="bg-slate-600 text-white border-t border-white">
        <td class="p-4 border-r border-slate-600 font-medium text-start bg-[#6b7982]">Consommation énergétique</td>
        <td class="p-4 border-r border-slate-600 bg-[#465762] text-start">Haute, en raison d'un code volumineux, de nombreux plugins et thèmes lourds.</td>
        <td class="p-4 bg-[#465762] text-start">Diviser par 10, grâce à un UX frugal, un code optimisé, une approche serverless, et une structure minimaliste.</td>
      </tr>
      
      <!-- Row 2 -->
      <tr class="bg-slate-700 text-white border-t border-white">
        <td class="p-4 border-r border-slate-600 font-medium text-start bg-[#6b7982]">Performance</td>
        <td class="p-4 border-r border-slate-600 bg-[#465762] text-start">Temps de chargement souvent plus long en fonction des thèmes et plugins utilisés.</td>
        <td class="p-4 bg-[#465762] text-start">Temps de chargement diviser par 3 à 8 grâce à des optimisations spécifiques à l'éco-conception.</td>
      </tr>
      
      <!-- Row 3 -->
      <tr class="bg-slate-600 text-white border-t border-white">
        <td class="p-4 border-r border-slate-600 font-medium text-start bg-[#6b7982]">Poids des pages</td>
        <td class="p-4 border-r border-slate-600 bg-[#465762] text-start">Peut dépasser 2-3 Mo par page en moyenne.</td>
        <td class="p-4 bg-[#465762] text-start">Généralement inférieur à 500 Ko par page.</td>
      </tr>
      
      <!-- Row 4 -->
      <tr class="bg-slate-700 text-white border-t border-white">
        <td class="p-4 border-r border-slate-600 font-medium text-start bg-[#6b7982]">Design</td>
        <td class="p-4 border-r border-slate-600 bg-[#465762] text-start">Utilisation de thèmes préconçus parfois peu optimisés.</td>
        <td class="p-4 bg-[#465762] text-start">Design spécifique avec un équilibre entre esthétique et performance.</td>
      </tr>
      
      <!-- Row 5 -->
      <tr class="bg-slate-600 text-white border-t border-white">
        <td class="p-4 border-r border-slate-600 font-medium text-start bg-[#6b7982]">Technologies utilisées</td>
        <td class="p-4 border-r border-slate-600 bg-[#465762] text-start">CMS générique, non optimisé pour un usage spécifique.</td>
        <td class="p-4 bg-[#465762] text-start">Générateur de site en Astro JS</td>
      </tr>
      
      <!-- Row 6 -->
      <tr class="bg-slate-700 text-white border-t border-white">
        <td class="p-4 border-r border-slate-600 font-medium text-start bg-[#6b7982]">Maintenance</td>
        <td class="p-4 border-r border-slate-600 bg-[#465762] text-start">Mise à jour fréquente de WordPress, des thèmes, et des plugins.</td>
        <td class="p-4 bg-[#465762] text-start">Maintenance simplifiée grâce à une structure minimale et personnalisée.</td>
      </tr>
      
      <!-- Row 7 -->
      <tr class="bg-slate-600 text-white border-t border-white">
        <td class="p-4 border-r border-slate-600 font-medium text-start bg-[#6b7982]">Empreinte environnementale</td>
        <td class="p-4 border-r border-slate-600 bg-[#465762] text-start">Élevée: consommation accrue de bande passante et hébergement énergivore.</td>
        <td class="p-4 bg-[#465762] text-start">Réduite: 10 fois moins de ressources utilisées (Serveur, bande passante, électricité)</td>
      </tr>
      
      <!-- Row 8 -->
      <tr class="bg-slate-700 text-white border-t border-white">
        <td class="p-4 border-r border-slate-600 font-medium text-start bg-[#6b7982]">Hébergement</td>
        <td class="p-4 border-r border-slate-600 bg-[#465762] text-start">Serveurs partagés ou classiques, parfois peu optimisés.</td>
        <td class="p-4 bg-[#465762] text-start">Compile a list of all audit assets for future reference.</td>
      </tr>
      
      <!-- Row 9 -->
      <tr class="bg-slate-600 text-white border-t border-white">
        <td class="p-4 border-r border-slate-600 font-medium text-start bg-[#6b7982]">Accessibilité</td>
        <td class="p-4 border-r border-slate-600 bg-[#465762] text-start">Dépendante des thèmes/plugins, souvent insuffisamment priorisée.</td>
        <td class="p-4 bg-[#465762] text-start">Hébergement sur des serveurs à faible impact environnemental (diviser par 5)</td>
      </tr>
      
      <!-- Row 10 -->
      <tr class="bg-slate-700 text-white border-t border-white">
        <td class="p-4 border-r border-slate-600 font-medium text-start bg-[#6b7982]">SEO (Référencement)</td>
        <td class="p-4 border-r border-slate-600 bg-[#465762] text-start">Peut être ralenti par des pages lourdes et des temps de chargement longs.</td>
        <td class="p-4 bg-[#465762] text-start">Accessibilité pensée dès la conception, suivant les standards (WCAG - RGAA).</td>
      </tr>
      
      <!-- Row 11 -->
      <tr class="bg-slate-600 text-white border-t border-white">
        <td class="p-4 border-r border-slate-600 font-medium text-start bg-[#6b7982]">Durée de vie</td>
        <td class="p-4 border-r border-slate-600 bg-[#465762] text-start">Mise à jour nécessaire fréquemment pour rester compatible et sécurisé.</td>
        <td class="p-4 bg-[#465762] text-start">Longévité accrue grâce à un développement ciblé et un code pérenne.</td>
      </tr>
      
      <!-- Row 12 -->
      <tr class="bg-slate-700 text-white border-t border-white">
        <td class="p-4 border-r border-slate-600 font-medium text-start bg-[#6b7982]">Coût de développement</td>
        <td class="p-4 border-r border-slate-600 bg-[#465762] text-start">Moins cher initialement (utilisation de modèles génériques).</td>
        <td class="p-4 bg-[#465762] text-start">Investissement initial normalement (car requière plus de travail) plus élevé mais optimisé sur le long terme.</td>
      </tr>
      
      <!-- Row 13 -->
      <tr class="bg-slate-600 text-white border-t border-white">
        <td class="p-4 border-r border-slate-600 font-medium text-start bg-[#6b7982]">Gestion des médias</td>
        <td class="p-4 border-r border-slate-600 bg-[#465762] text-start">Images souvent lourdes, mal optimisées.</td>
        <td class="p-4 bg-[#465762] text-start">Compression et optimisation systématiques des médias.</td>
      </tr>
      
      <!-- Row 14 -->
      <tr class="bg-slate-700 text-white border-t border-white">
        <td class="p-4 border-r border-slate-600 font-medium text-start bg-[#6b7982]">Suivi et analyse (option)</td>
        <td class="p-4 border-r border-slate-600 bg-[#465762] text-start">Utilisation d'outils classiques lourds (Google Analytics).</td>
        <td class="p-4 bg-[#465762] text-start">Analyse via des outils légers ou auto-hébergés (ex. Matomo, plausible).</td>
      </tr>
      
      <!-- Row 15 -->
      <tr class="bg-slate-600 text-white border-t border-white">
        <td class="p-4 border-r border-slate-600 font-medium text-start bg-[#6b7982]">Impact utilisateur</td>
        <td class="p-4 border-r border-slate-600 bg-[#465762] text-start">Expérience utilisateur potentiellement moins fluide.</td>
        <td class="p-4 bg-[#465762] text-start">UX pensée pour la rapidité et l'efficacité.</td>
      </tr>
      
      <!-- Row 16 -->
      <tr class="bg-slate-700 text-white border-t border-white">
        <td class="p-4 border-r border-slate-600 font-medium text-start bg-[#6b7982]">Landing page</td>
        <td class="p-4 border-r border-slate-600 bg-[#465762] text-start">CHF 3000 (tarif moyen)</td>
        <td class="p-4 bg-[#465762] text-start">Normalement 4000CHF -> Offre Bubble CHF 2400</td>
      </tr>
      
      <!-- Row 17 -->
      <tr class="bg-slate-600 text-white border-t border-white">
        <td class="p-4 border-r border-slate-600 font-medium text-start bg-[#6b7982]">Site web complet (5)</td>
        <td class="p-4 border-r border-slate-600 bg-[#465762] text-start">CHF 9000 (tarif moyen)</td>
        <td class="p-4 bg-[#465762] text-start">Normalement 9000CHF -> Offre Bubble CHF 4900</td>
      </tr>
      
      <!-- Row 18 -->
      <tr class="bg-slate-700 text-white border-t border-white">
        <td class="p-4 border-r border-slate-600 font-medium text-start bg-[#6b7982]">Maintenance et hébergement</td>
        <td class="p-4 border-r border-slate-600 bg-[#465762] text-start">CHF 100/mois (tarif moyen)</td>
        <td class="p-4 bg-[#465762] text-start">CHF 50/mois</td>
      </tr>
      
      <!-- Row 19 -->
      <tr class="bg-slate-600 text-white border-t border-white">
        <td class="p-4 border-r border-slate-600 font-medium text-start bg-[#6b7982]">Option Blog</td>
        <td class="p-4 border-r border-slate-600 bg-[#465762] text-start"></td>
        <td class="p-4 bg-[#465762] text-start">CHF 1500.00</td>
      </tr>
      
      <!-- Row 20 -->
      <tr class="bg-slate-700 text-white border-t border-white">
        <td class="p-4 border-r border-slate-600 font-medium text-start bg-[#6b7982] rounded-br-2xl">Page supplémentaire</td>
        <td class="p-4 border-r border-slate-600 bg-[#465762] text-start"></td>
        <td class="p-4 bg-[#465762] text-start">CHF 1000.00</td>
      </tr>
    </tbody>
  </table>
</div>