---
import { Image } from "astro:assets";
---

<div class="rounded-2xl shadow-xl pt-5 px-5 pb-12 flex flex-col gap-6">
  <Image 
    src={Astro.props.src}
    alt={Astro.props.alt}
    class="mx-auto w-full"
    width={314}
    height={118}
  />
  <div class="text-start text-base text-[#253946] flex flex-col gap-5">
    <slot></slot>
  </div>
</div>