---
import { Image } from "astro:assets";
import "../styles/global.css";
// import imgimages_gii_logo_webp from "../../public/images/gii_logo_square.svg";
---

<header>
  <div
    class="bg-white text-black text-center text-sm font-bold underline py-2.5"
  >
    <div class="container mx-auto">
      Découvrir EcoBuilder - Notre solution unique pour vous créer un site web
      éco-conçu !
    </div>
  </div>
  <div class="mx-auto bg-[#243946]">
   <div class="container mx-auto">
    <nav class="flex items-center justify-between py-7 px-4">
      <!-- Logo -->
      <div class="text-xl font-semibold">
        <a href="#">
          <Image
            src="/images/logo_bubble_green.svg"
            alt="Bubble Green Logo"
            width={227}
            height={26}
          />
        </a>
      </div>

      <!-- Menu -->
      <ul
        class="hidden md:flex space-x-6 text-gray-700 py-1.5 bg-white rounded-full lg:px-36"
      >
        <li>
          <a href="#" class="text-black text-base font-semibold">Pourquoi</a>
        </li>
        <li>
          <a href="#" class="text-black text-base font-semibold">Mission</a>
        </li>
        <li>
          <a href="#" class="text-black text-base font-semibold">Solutions</a>
        </li>
        <li>
          <a href="#" class="text-black text-base font-semibold">Références</a>
        </li>
      </ul>

      <!-- Right side (Contact & Language Switch) -->
      <div class="flex items-center space-x-4">
        <button
          class="bg-[#96F50A] inline-flex px-4 py-2.5 rounded-full hover:bg-[#96F50A] font-semibold text-sm"
          >Contact Us</button
        >
        <details class="relative inline-block text-left">
          <summary
            class="flex items-center gap-2 px-3 py-2.5 min-h-10 bg-[#2D2D2D] text-white rounded-lg cursor-pointer"
          >
            <span>
              <Image
                src="/images/fr_flag.svg"
                alt="French Flag"
                width={22}
                height={16}
              />
            </span>
            <svg
              class="w-4 h-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </summary>
          <ul
            class="absolute left-0 mt-2 bg-white border border-gray-300 rounded-lg shadow-lg"
          >
            <li
              class="flex items-center px-4 py-2 hover:bg-gray-100 cursor-pointer gap-2 text-sm rounded-lg"
            >
              <Image
                src="/images/uk_flag.svg"
                alt="United Kingdom Flag"
                width={22}
                height={16}
              />EN
            </li>
          </ul>
        </details>
      </div>
    </nav>
   </div>
  </div>
</header>
