---
import "@fontsource-variable/inter";
import Header from "../layouts/Header.astro";
import Footer from "./Footer.astro";
---

<body class="overflow-x-hidden">
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
</body>
